.more-screen .icon-row {
  margin-top: 35px;
}
.more-screen .icon-row__icon {
  width: 20%;
}
.more-suggestions {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 40px;
  margin-bottom: 100px;
}
.more-suggestions__title {
  margin-bottom: 30px;
}
.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
}
.more-suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-suggestions__icon img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.empty {
  opacity: 0;
}
